{% if product_list %}
    <ul>
    {% for product in product_list  %}
        <li><a href="/challenge/{{ product.id }}">{{ product.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
